<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ property.title }} - HomeHub</title>
</head>
<body>

    <a href="{% url 'property_list' %}">← Back to properties</a>

    <h1>{{ property.title }}</h1>

    <p>{{ property.description }}</p>

    <h2>€{{ property.price }}</h2>

    <h3>Images</h3>
    {% for image in property.images.all %}
        <div>
            <img
                src="{{ image.image.url }}"
                alt="{{ property.title }}"
                width="400"
            >

            {% if request.user == property.owner or request.user.role == "ADMIN" %}
                <form
                    method="post"
                    action="{% url 'property_image_delete' image.pk %}"
                >
                    {% csrf_token %}
                    <button type="submit">
                        Delete Image
                    </button>
                </form>
            {% endif %}
        </div>
    {% empty %}
        <p>No images available.</p>
    {% endfor %}

    <p>Area: {{ property.area }} m²</p>
    <p>Bedrooms: {{ property.bedrooms }}</p>
    <p>Bathrooms: {{ property.bathrooms }}</p>
    <p>Floor: {{ property.floor }} / {{ property.total_floors }}</p>

    <p>Location: {{ property.city }}, {{ property.address }}</p>

    <p>Type: {{ property.get_property_type_display }}</p>
    <p>Status: {{ property.get_status_display }}</p>

    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'toggle_favorite' property.pk %}">
            {% csrf_token %}

            {% if is_favorite %}
                <button type="submit">
                    Remove from Favorites
                </button>
            {% else %}
                <button type="submit">
                    Add to Favorites
                </button>
            {% endif %}
        </form>
    {% endif %}

    <p>Listed on: {{ property.created_at }}</p>

    {% if request.user.is_authenticated %}

    <a
        href="{% url 'create_inquiry' property.pk %}"
        class="btn btn-primary"
    >
        Send Inquiry
    </a>

{% endif %}

    {% if request.user == property.owner or request.user.role == "ADMIN" %}
        <a href="{% url 'property_edit' property.pk %}">
            Edit Property
        </a>

        <a href="{% url 'property_delete' property.pk %}">
            Delete Property
        </a>
    {% endif %}

</body>
</html>