<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Property - HomeHub</title>
</head>
<body>

    <h1>
    {% if property %}
        Edit Property
    {% else %}
        Create Property
    {% endif %}
</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {% if property %}
                Save Changes
            {% else %}
                Create Property
            {% endif %}
        </button>   
    </form>

    <a href="{% url 'property_list' %}">Back to properties</a>

</body>
</html>